{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
    <!--head tag -->
	{%include 'head.html' %}
	<!--head ends here -->
<body>
<div id="header">
<div class="container">
{% include 'welcome.html'%}
<!-- Navbar ================================================== -->
{% include 'nav.html'%}
</div>
</div>
<!-- Header End====================================================================== -->
{% block content %}

{%endblock %}
<!-- Footer ================================================================== -->
    {% include 'footer.html'%}
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<script src="{% static 'themes/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'themes/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'themes/js/google-code-prettify/prettify.js' %}"></script>

<script src="{% static 'themes/js/bootshop.js' %}"></script>
<script src="{% static 'themes/js/jquery.lightbox-0.5.js' %}"></script>

<!-- Themes switcher section ============================================================================================= -->
{% include 'switcher.html'%}
<span id="themesBtn"></span>
</body>
</html>